{% extends 'barra.html' %}

{% block component %}


<div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>Administração</h2>
        <a href="/adicionar" class="btn btn-primary">Adicionar Imóvel</a>
      </div>
    </div>
</div>


<!-- Container que permite a visualisação em Grid dos imoveis--> 
<div class="container">
  {% for id, produto in outro.items() %}
    <div class="col d-inline-flex mt-3">
      <div class="card" style="width: 18rem;">
        <img src={{ produto['imagem'] }} class="card-img-top" style="max-height: 10rem; ">
        <div class="card-body" style=" height: 12rem; ">
          <h5 class="card-title">ID: {{ id }} - {{ produto['tipo'] }}</h5>
          <p class="card-text" style=" height: 4.5rem; ">{{ produto['descricao'] }}</p>
          <a href="/editar/{{id}}" class="btn btn-primary">Editar</a>
          <a href="/remover/{{id}}" class="btn btn-danger">Deletar</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}