<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Imobiliaria Koru</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav id="barra" class="navbar navbar-expand-lg navbar-light ml-5">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for ('index')}}" > <img id="img-banner" src="../static/im-logo-banner.png"> </a>
            </div>
            <button id="btn-menu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav fs-5">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/venda">Venda</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/aluguel">Aluguel</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contato">Contato</a>
                  </li>
                </ul>
                <form class="container-fluid justify-content-start">
                  <a id="bt_barra_stilo" href="{{ url_for ('adiciona_imovel')}}" class="btn btn-outline-dark me-2" type="button">Criar</a>
              </form>
              </div>          
          </nav>
    </header>
    <main>
      <div class="mt-5">
        {% block component %}{% endblock %}
      </div> 
    </main>
    <footer id="footer">
      <div id="icons-show" class="row pt-2">
        <div class="row d-flex justify-content-center">
          <a href="" class="col-auto"><img class="icon" style="max-width: 3rem;" src="../static/icons/facebook.svg" alt="facebook logo"></a>
          <a href="" class="col-auto"><img class="icon" style="max-width: 3rem;" src="../static/icons/instagram.svg" alt="instagram logo"></a>
          <a href="" class="col-auto"><img class="icon" style="max-width: 3rem;" src="../static/icons/whatsapp.svg" alt="whatsapp logo"></a>
        </div>
      </div>
      <div id="test" class="row justify-content-center py-5">
        <div class="hide col-3">
          <div class="row">
            <div class="d-flex pt-2 px-5">
              <a href="/" class="link-bar col">Home</a>
              <a href="/sobre" class="link-bar col">Sobre</a>
              <a href="/contato" class="link-bar col">Contato</a>
            </div>
          </div>
          <div class="hide row d-flex flex-row px-5 mt-2">
            <a href="" class="col-auto"><img class="icon" style="max-width: 2.125rem;" src="../static/icons/facebook.svg" alt="facebook logo"></a>
            <a href="" class="col-auto"><img class="icon" style="max-width: 2.125rem;" src="../static/icons/instagram.svg" alt="instagram logo"></a>
            <a href="" class="col-auto"><img class="icon" style="max-width: 2.125rem;" src="../static/icons/whatsapp.svg" alt="whatsapp logo"></a>
          </div>
          <div class="hide row pt-3 px-5">
            <p><em>#umnovolar</em></p>
          </div>
        </div>
        <div class="col-auto col-lg-2"></div>
        <div class="hide col-2">
          <div class="row pt-2">
            <a href="{{ url_for ('index')}}"><img class="logo-footer img-fluid" src="../static/im-footer.png" alt="logo"></a>
          </div>
        </div>
        <div class="col-auto col-lg-2"></div>
        <div class="hide col-3">
          <div class="row pt-5"></div>
            <div class="row pt-2 px-5">imobiliariakoru@gmail.com</div>
            <div class="row pt-2 px-5">(+55)11 98663 3936</div>
          </div>
        </div> 
      </div>   
      <div id="footer-prod" class="row">
        <div class="col">
           <p>© Este site é um produto de <em>GRUPO 03 - Full Stack DEV</em>2024</p>
         </div>
      </div>
    </footer>
</body>
</html>
