{% extends 'barra.html' %}

{% block component %}

<div class="container">
    <div class="row">
        <div class="column-4"></div>
        <div class="column-4">
            <form method=" POST" enctype="multipart/form-data" action="" class="needs-validation" data-toggle="validation">
                <select name="tipo" class="form-select mt-5 mb-5" aria-label="Default select example">
                    <option selected>Seleccione um tipo de imóvel</option>
                    <option value="1">Aluguel</option>
                    <option value="2">Venda</option>
                </select>
                <div class="mb-3">
                    <label name="imagem" for="imagem" class="form-label">Imagem</label>
                    <textarea class="form-control" id="imagem" rows="1"></textarea>
                    <div id="imagem" class="form-text">Somente URL</div>
                </div>
                <div class="mb-3">
                    <label name="cidade" for="cidade" class="form-label">Cidade</label>
                    <textarea class="form-control" id="cidade" rows="1"></textarea>
                </div>
                <div class="mb-3">
                    <label name="endereco" for="endereco" class="form-label">Endereço</label>
                    <textarea class="form-control" id="endereco" rows="1"></textarea>
                </div>
                <div class="mb-3">
                    <label name="descricao" for="descricao" class="form-label">Descrição</label>
                    <textarea class="form-control" id="descricao" rows="2"></textarea>
                </div>
                <input name="criar" type="submit" class="btn btn-primary" value="Enviar">
                
            </form>
        </div>
        <div class="column-4"></div>
    </div> 
</div>



{% endblock %}
