{% extends 'barra.html' %}

{% block component %}
<div class="container mt-5">
    <div class="row">
      <div class="col-12 col-lg-5 mb-5">
        <img src="{{ imagem }}" class="img-fluid w-100">
      </div>
      <div class="col-12 col-lg-7">
        <dl class="row"> 
            <dt class="col-sm-3 fs-5">Tipo</dt>
            <dd class="col-sm-9 fs-5">{{ tipo }}</dd>
          
            <dt class="col-sm-3 fs-5">Valor</dt>
            <dd class="col-sm-9 fs-5">R$. {{ valor }}</dd>
          
            <dt class="col-sm-3 fs-5">Cidade</dt>
            <dd class="col-sm-9 fs-5">{{ cidade }}</dd>
          
            <dt class="col-sm-3 fs-5">Endereço</dt>
            <dd class="col-sm-9 fs-5">{{ endereco }}</dd>

            <dt class="col-sm-3 fs-5">Descrição</dt>
            <dd class="col-sm-9 fs-5">{{ descricao }}</dd>
          </dl>
          <form  method="POST" enctype="multipart/form-data" action="" data-toggle="validation" class="needs-validation row d-flex justify-content-start mx-5 py-3">
            <a href="/editar/{{id}}" class="btn btn-outline-dark col-12 col-sm-5 fs-5 mb-2 px-2">Editar</a>
            <div class="col-sm-2"></div>
            <a href="/remover/{{id}}" class="btn btn-outline-dark col-12 col-sm-5 fs-5 mb-2 px-2">Excluir</a>
        </form>
      </div>
    </div>
</div>
<section class="modal hidden">
  <div class="flex">
    <button class="modal-btn-close">⨉</button>
  </div>
  <div>
    <h3>Fale Conosco</h3>
    <p>
      Converse agora com um de nossos corretores!
    </p>
  </div>
  <a id="bt_barra_stilo" href="https://wa.me/5511986633936?text=Obrigado+por+cotatar+a+Imobiliaria+Koru.+Em+breve+um+de+nossos+atendentes+contatara+voc%C3%AA" class="modal-btn">Whatsapp</a>
</section>

<div class="overlay hidden"></div>
<img class="modal-btn modal-btn-open" src="../static/whatsapp-icon.png">

<script>
const modal = document.querySelector(".modal");
const overlay = document.querySelector(".overlay");
const openModalBtn = document.querySelector(".modal-btn-open");
const closeModalBtn = document.querySelector(".modal-btn-close");

// close modal function
const closeModal = function () {
  modal.classList.add("hidden");
  overlay.classList.add("hidden");
};

// close the modal when the close button and overlay is clicked
closeModalBtn.addEventListener("click", closeModal);
overlay.addEventListener("click", closeModal);

// close modal when the Esc key is pressed
document.addEventListener("keydown", function (e) {
  if (e.key === "Escape" && !modal.classList.contains("hidden")) {
    closeModal();
  }
});

// open modal function
const openModal = function () {
  modal.classList.remove("hidden");
  overlay.classList.remove("hidden");
};
// open modal event
openModalBtn.addEventListener("click", openModal);
</script>
{% endblock %}