{% extends 'barra.html' %}

{% block component %}

<!-- Container que permite a visualisação em Grid dos imoveis--> 
<div class="parallax">
  <div id="container" class="container-fluid">
  {% for id, produto in outro.items() %}
    <div class="col d-inline-flex mt-3">
      
      <div id="cd_stilo" class="card my-3 mx-3" style="width: 18rem;">
        <div>
           <button id="btn-close" onclick="apagar(this)" class="hide-btn">⨉</button>
           <img src="{{ produto['imagem'] }}" class="card-img-top" style="max-height: 10rem; ">
           <p id="card-type"> {{ produto['tipo'] }}</p>
        </div>
        <div class="card-body" style=" height: 12rem; ">
          <h5 class="card-title"><b>Código:</b> {{ id }}</h5>
          <p class="card-text" style="height: 4.5rem; ">{{ produto['descricao'] }}</p>
          <a id="bt_stilo" href="{{ url_for ('imovel', id=id)}}" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

<script>

function apagar(button) { 
  var parent = button.parentNode;
  var grandparent = parent.parentNode;
  grandparent.classList.add("remove");
}

</script>

{% endblock %}


