{% extends 'barra.html' %}

{% block component %}

<!-- Container que contem as informações do site 'Sobre'--> 
<div class="container">
    <div id="sobre" class="row justify-content-center">
        <div class="row justify-content-center">
            <h1 class="display-6 my-5">Sobre nós</h1>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4">
            <img id="cuadro-sobre-1" class="w-100" src="https://images.unsplash.com/photo-1460317442991-0ec209397118?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <img id="cuadro-sobre-2" class="w-100" src="https://images.unsplash.com/photo-1518733057094-95b53143d2a7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cmVhbCUyMHN0YXRlc3xlbnwwfHwwfHx8MA%3D%3D">
            
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5">
            <p>Nossa missão vai além de simplesmente encontrar casas; buscamos construir comunidades vibrantes e sustentáveis em todo o Brasil. Através de nossa abordagem inovadora, não apenas transformamos propriedades, mas também investimos no futuro das pessoas e do país como um todo.</p><br>

            <p>Acreditamos firmemente no potencial do Brasil para crescer e prosperar, e vemos a habitação como uma pedra angular desse progresso. Ao reconhecer o impacto social significativo que a falta de moradia adequada pode ter, estamos empenhados em promover iniciativas que proporcionem acesso igualitário a moradias dignas para todos os brasileiros</p><br>
                
            <p>Nosso objetivo é criar um mercado onde todos tenham a oportunidade de encontrar um lar que atenda às suas necessidades e aspirações, enquanto contribuímos para um futuro mais justo e próspero para o Brasil. <a>Contatenos</a> e junte-se a nós nesta jornada de transformação e crescimento.</p>
        </div>
</div>
</div>



{% endblock %}
